body {
    background: linear-gradient(to bottom, #ffffff, #067676);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 0;
}

h1 {
    grid-column: 1 / span 12;
    text-align: center;
}

#leviDeo {
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

#igracPodaci {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#igracPodaci button {
    cursor: default;
    pointer-events: none;    
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 100px;
    background-color: antiquewhite;
}

#dugme_na_uputstvo {
    font-weight: bold;
    font-size: 30px;
    padding: 30px 25px;
    border-radius: 100px;
    background-color: springgreen;
    border: 5px solid transparent;
}

#dugme_na_uputstvo:hover {
    border-color: white;
}

#desniDeo {
    grid-column: 6 / span 7;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#tabela {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

#tabela thead {
    background-color: orange;
    border: 3px solid black;
}

#tabela tbody tr:nth-child(odd) {
    background-color: lightyellow;
}

#tabela tbody tr:nth-child(even) {
    background-color: bisque;
}

#tabela th, #tabela td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

#tabela tbody tr:hover {
    background-color: lightblue;
}

#dugme_resetuj_rezultate {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: red;
    border: 5px solid transparent;
}

#dugme_resetuj_rezultate:hover {
    border-color: white;
}